.wrapper2, .wrapper1{
    width: 400px;
    position: absolute;
    z-index: -1 !important;
}



@keyframes pulse {
    0%{
        top:-30px
    }

    50%{
        top:-5px
    }

    100%{
        top:-30px;
    }
}

@keyframes pulse2 {
    0%{
        left:-30px
    }

    50%{
        left:-5px
    }

    100%{
        left:-30px;
    }
}


.wrapper1{
    top:0;
    left: 50%;
    animation:  pulse 4s infinite;

}

.wrapper2{
    bottom:0;
    left: 0;
    animation:  pulse2 3s infinite;

}